<?xml version="1.0" encoding="UTF-8"?>
<installer version="1.0">
  <info>
	<uid>gateway-Nochex_APC@cubecart.com</uid>
	<type>gateway</type>
	<mobile_optimized>false</mobile_optimized>
	<name><![CDATA[Nochex_APC]]></name>
	<description><![CDATA[Nochex APC Payment Gateway]]></description>
	<version>2.0</version>
	<minVersion>6.0.0a</minVersion>
	<maxVersion>6.0.*</maxVersion>
	<creator><![CDATA[CubeCart]]></creator>
	<homepage><![CDATA[http://www.cubecart.com]]></homepage>
	<block>false</block>
  </info>
</installer>